@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
body{
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background-image: url(../images/bg-pattern-bottom-desktop.svg), url(../images/bg-pattern-top-desktop.svg);
    background-position: 100% 100%, 0% 0%;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    display: flex;
    margin-bottom: 80px;
}
.header .description{
    width: 460px;
    margin-right: 100px;
}
.header .description h1{
    font-size: 55px;
    margin-bottom: 25px;
    color: hsl(300, 43%, 22%);
    line-height: 50px;
}
.header  .description p {
    font-size: 20px;
    line-height: 25px;
    color: hsl(303, 10%, 53%);
}
.header ul{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    width: 550px;
}
.header ul li{
    display: flex;
    gap: 30px;
    align-items: center;
    width: 450px;
    padding: 20px 30px;
    margin: 5px;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 17px;
    border-radius: 10px;
}
.first {
    display: flex;
    align-self: flex-start;
}
.second {
    display: flex;
    align-self: center;
}
.third {
    display: flex;
    align-self: flex-end;
}
.cards {
    display: flex;
    gap: 30px;
    height: 270px;
}
.card {
    background-color: hsl(300, 43%, 22%);
    color: #ffffff;
    padding: 40px 28px;
    border-radius: 10px;
    font-size: 18px;
    height: 235px;
    width: 350px;
}

.card div {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.card div img {
    border-radius: 50%;
    width: 40px;
}
.card div ul li:last-child {
    color: hsl(333, 80%, 67%);
    margin-top: 5px;
}
.card p {
    line-height: 25px;
    font-size: 17px;
}
.card1 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.card2 {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.card3 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}